.spinner {
    -fx-background-color: #3D3A3A;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-text-fill: #ffffff;
}

.spinner .text-field {
    -fx-background-color: #3D3A3A;
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #3D3A3A;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 0 1px;
}

.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: #227A22;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-cursor: hand;
}